#tasks-page{
    margin-top: 2%;
    margin-left: 1%;
}

.tasks-category-table{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
}

#new-category-input button{
    height: 55px;
    margin-left: 1%;
    font-weight: 800;
}

.MuiInputBase-input{
    cursor: pointer;
}

