.aut {
    border-style: groove;
    font-size: large;
    font-weight: 500;
    width: 600px;
    margin: 2%;
    padding: 2%;
    margin-left: calc(50vw - 300px);
}

button {
    padding: 5px;
    position: relative;

}